@font-face {
  font-family: "GeorgiaScript";
  src: url("../fonts/GeorgiaScript/GeorgiaScript.eot");
  src: url("../fonts/GeorgiaScript/GeorgiaScript.woff") format("woff");
  src: url("../fonts/GeorgiaScript/GeorgiaScript.woff2") format("woff2");
  src: url("../fonts/GeorgiaScript/GeorgiaScript.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff");
  src: url("../fonts/Lato-Regular/Lato-Regular.woff2") format("woff2");
  src: url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans.eot");
  src: url("../fonts/OpenSans/OpenSans.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSans.woff2") format("woff2");
  src: url("../fonts/OpenSans/OpenSans.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Extrabold";
  src: url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.eot");
  src: url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.woff") format("woff");
  src: url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.woff2") format("woff2");
  src: url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff");
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff2") format("woff2");
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype");
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
* {
  padding: 0;
  margin: 0;
  font-size: 22px;
  color: #fff;
}
*:focus {
  outline: none;
}
textarea {
  background-color: transparent;
  resize: none;
  outline: none;
}
input[type="submit"] {
  border: none;
}
.section-title {
  font-size: 40px;
  font-family: "OpenSans-Semibold";
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.section-title:after {
  content: '';
  background-color: #000;
  width: 85px;
  height: 6px;
  position: relative;
  display: block;
  margin: 30px auto;
}
.background-wrapper-wrapper {
  position: relative;
}
.background-wrapper-wrapper .background-wrapper {
  background-image: url("../images/about-backgr.jpg");
  background-size: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: 100%;
  height: 100%;
  position: absolute;
}
.site-header {
  background-image: url("../images/header.jpg");
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.menu-arrow {
  color: #fff;
  font-size: 30px;
  margin-top: 29px;
  position: relative;
  float: right;
}
.menu-arrow .fa {
  cursor: pointer;
}
.header-title {
  color: #fff;
  font-size: 85px;
  font-family: "OpenSans-Extrabold";
  text-transform: uppercase;
}
.header-title .second-title {
  font-family: "OpenSans";
  font-size: 85px;
}
.header-title :after {
  content: '';
  background-color: #fff;
  width: 314px;
  height: 6px;
  position: absolute;
  top: 55px;
  left: 97px;
}
.header-title :before {
  content: '';
  background-color: #fff;
  width: 314px;
  height: 6px;
  position: absolute;
  top: 70px;
  left: 97px;
}
.header-title .last-title {
  font-family: "OpenSans-Extrabold";
  font-size: 85px;
  margin-left: 186px;
}
.wrapper-title:after {
  content: '';
  background-color: #fff;
  width: 192px;
  height: 12px;
  position: absolute;
  top: 314px;
  left: 16px;
}
ul.menu li {
  text-align: center;
  margin-bottom: 60px;
}
ul.menu li :after {
  content: '';
  background-color: #fff;
  width: 60px;
  height: 6px;
  position: absolute;
  top: 42px;
  right: 243px;
  margin-top: 17px;
}
ul.menu li a,
ul.menu-mobile li a {
  display: block;
  position: relative;
  color: #fff;
  font-family: "OpenSans-Semibold";
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  width: max-conetent;
}
.wrapper-container-fix-position {
  position: absolute;
  top: 10%;
  left: 10%;
}
.container {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
}
.container-header {
  max-width: 1355px;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  margin: 0 auto;
  margin-bottom: 165px;
  padding-top: 50px;
}
.wrapper-soc-icons {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
.wrapper-soc-icons a:hover {
  color: #fff;
}
.wrapper-soc-icons a {
  margin-right: 25px;
  color: #fff;
}
.wrapper-soc-icons .href-resume {
  text-transform: uppercase;
  font-family: "OpenSans-Semibold";
  margin-left: 40px;
}
.wrapper-soc-icons .href-resume .fa {
  margin-left: 20px;
}
header.site-header .container .row .col-md-12 ul.menu-mobile {
  display: none;
}
.menu-arrow {
  display: none;
}
video {
  width: inherit;
}
.about {
  position: relative;
  margin-top: -2rem;
}
.about .container {
  padding: 165px 0;
}
.about .container .about-title {
  text-align: justify;
}
.about .container .about-title:after {
  top: 29px;
  left: -120px;
  position: absolute;
  margin: auto;
}
.about .container .about-text {
  font-family: "Lato-Regular";
  font-size: 24px;
  line-height: 40px;
}
.exp {
  background-color: #f9fafa;
  padding: 50px 0;
}
.exp .container {
  max-width: 1700px;
}
.wrapper-exp-block {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  margin-bottom: 45px;
}
.wrapper-exp-block .wrapper-exp-text {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrapper-exp-block .wrapper-exp-text p {
  display: inline;
  font-family: "OpenSans-Semibold";
  font-size: 35px;
  text-align: center;
}
img.exp-img {
  max-height: 10em;
}
.last-exp-img {
  margin-right: 30px;
}
.wrapper-exp-descr {
  position: relative;
  display: flex;
  align-items: center;
}
.wrapper-exp-descr p.exp-work-title {
  padding: 5px;
  font-family: "OpenSans-Extrabold";
  text-transform: uppercase;
  border: 5px solid #000;
  background-color: #fff;
  color: #000;
  width: 100%;
  max-width: 270px;
  font-size: 18px;
  text-align: center;
}
.wrapper-exp-descr img {
  margin-right: 5%;
}
.wrapper-exp-descr .wrapper-exp-descr-text {
  margin-bottom: 30px;
  padding-left: 100px;
}
.wrapper-exp-descr .wrapper-exp-descr-text span {
  margin-right: 20px;
}
.wrapper-exp-descr .wrapper-exp-descr-text p {
  margin-bottom: 5px;
}
.wrapper-exp-descr .wrapper-exp-descr-text p,
.wrapper-exp-descr .wrapper-exp-descr-text li {
  font-family: "Lato-Regular";
}
.wrapper-exp-descr .wrapper-exp-descr-text ul {
  line-height: 24px;
  margin-bottom: 0;
}
.timer {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 20px;
}
.timer .timer-wrapper {
  margin-right: 20px;
  text-transform: uppercase;
  border: 5px solid #000;
  text-align: center;
  background-color: #fff;
  padding: 10px;
}
.timer .timer-wrapper p,
.timer .timer-wrapper span {
  color: #000;
}
.timer .timer-wrapper p {
  font-family: "OpenSans-Semibold";
  font-size: 50px;
}
.timer .timer-wrapper span {
  font-family: "OpenSans-Semibold";
  font-size: 22px;
}
.container .col-md-12 img.st {
  margin: 40px auto;
  display: block;
}
.hack-img {
  display: block;
  margin: 20px auto;
}
.works {
  padding: 70px 0;
}
.works .container {
  max-width: 98%;
}
.block-work {
  position: relative;
  margin-right: 1%;
  overflow: hidden;
  max-width: 400px;
  margin-bottom: 40px;
}
.block-work p,
.block-work li {
  font-family: "OpenSans";
  font-size: 18px;
  margin-bottom: 0;
}
.block-work p span,
.block-work li span {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "OpenSans-Extrabold";
}
.block-work .work-title {
  margin-top: 20px;
}
.assign {
  border: 5px solid #fff;
  background-color: #000;
}
.assign p {
  color: #fff;
}
.work-url {
  font-family: "OpenSans-Semibold";
  text-transform: lowercase;
  color: #538ac5;
}
.work-button {
  border: 3px solid #000;
  margin-left: 1%;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 1rem;
}
.work-button:hover {
  border: 5px solid #fff;
  background-color: #000;
}
.work-button:hover p {
  color: #fff;
}
.work-button p {
  text-transform: uppercase;
  font-family: "OpenSans-Semibold";
  margin-bottom: 0;
  text-align: center;
}
.align-left {
  padding: 20px;
}
.contacts {
  padding: 70px 0;
}
#map {
  height: auto;
  min-height: 380px;
}
.contacts-subtitle {
  font-family: "OpenSans-Semibold";
  text-transform: uppercase;
  margin: 20px 0;
}
.contacts-text {
  font-family: "Lato-Regular";
}
.footer {
  background-color: #222;
  padding: 90px 0;
}
.skills {
  position: relative;
}
.skills .container {
  max-width: 1700px;
}
.skills .container img {
  margin: 40px auto;
  display: block;
}
.skills .wrapper-work-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skills-title,
.exp-subtitle {
  font-family: "OpenSans-Extrabold";
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .container-header {
    padding: 0 3%;
  }
}
@media screen and (max-width: 1234px) {
  .about .container {
    padding: 20px;
  }
}
@media screen and (max-width: 1042px) {
  .about .container .about-title:after {
    display: none;
  }
  .work-button {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 420px) {
  .about .container img {
    max-width: 80%;
  }
}
@media screen and (max-width: 1122px) {
  .wrapper-container-fix-position {
    top: 13%;
    left: 5%;
    right: 5%;
  }
  .container-header {
    margin-bottom: 0;
  }
  .container-header .menu-arrow.show {
    display: block;
  }
  header.site-header .container .row .col-md-6.col-md-offset-1 {
    display: none;
  }
  header.site-header .container .row .col-md-12 ul.menu-mobile {
    display: block;
  }
  ul.menu-mobile {
    border: 4px solid #fff;
  }
  ul.menu-mobile li {
    margin-bottom: 5px;
    border-bottom: 4px solid #fff;
  }
  ul.menu-mobile li:last-child {
    border-bottom: none;
  }
  ul.menu-mobile li a:hover {
    text-decoration: none;
  }
  ul.menu-mobile li :after {
    display: none;
  }
}
@media screen and (max-width: 867px) {
  .wrapper-title {
    margin-bottom: 10px;
  }
  .wrapper-title .header-title .second-title {
    display: none;
  }
  .wrapper-title .header-title .last-title:before,
  .wrapper-title .header-title .last-title:after {
    display: none;
  }
}
@media screen and (max-width: 487px) {
  .header-title {
    font-size: 45px;
  }
  .header-title .last-title {
    margin-left: 0;
    font-size: 45px;
  }
  .wrapper-title:after {
    display: none;
  }
}
@media screen and (max-width: 330px) {
  .wrapper-soc-icons .href-resume {
    margin-left: 0;
    display: block;
  }
}
@media screen and (min-width: 1123px) {
  .container-header .menu-arrow {
    display: none !important;
  }
  ul.menu-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 1510px) {
  .timer .timer-wrapper {
    padding: 5px;
  }
  .timer .timer-wrapper p {
    font-size: 30px;
    font-family: "OpenSans-Extrabold";
  }
  .timer .timer-wrapper span {
    font-size: 15px;
  }
}
@media screen and (max-width: 1135px) {
  .timer {
    justify-content: center;
  }
  .timer .timer-wrapper {
    margin-bottom: 10px;
    min-width: 86px;
  }
}
@media screen and (max-width: 900px) {
  .wrapper-exp-descr {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 900px) {
  .wrapper-exp-descr .wrapper-exp-descr-text {
    padding: 20px;
  }
}
@media screen and (max-width: 438px) {
  .wrapper-exp-descr img {
    margin-bottom: 20px;
  }
  .wrapper-exp-descr p.exp-work-title {
    margin-bottom: 20px;
  }
  .wrapper-exp-descr .wrapper-exp-descr-text {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .contacts {
    padding: 20px 0;
  }
  .mobile-center {
    text-align: center;
  }
  .footer {
    padding: 20px 0;
  }
}
@media screen and (max-width: 434px) {
  .block-work img {
    width: 93%;
  }
}
@media screen and (max-width: 1300px) {
  .works {
    padding: 20px 0;
  }
}
